.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  align-self: end;
}

@media (max-width: 768px){
  .place__title {
    font-size: 42px;
  }
}

@media (max-width: 320px){
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    margin: 0 auto;
  }
}