.page {
  font-family: 'Inter' , Arial, sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2A2C2F;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1184px;
}
