.page {
  font-family: 'Inter' , Arial, sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2A2C2F;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1184px;
}

@media (min-width: 1280px){
  .page {
    max-width: 1184px;
  }
}

@media (max-width: 1024px){
  .page {
    max-width: 928px;
  }
}

@media (max-width: 768px){
  .page {
    max-width: 768px;
  }
}

@media (max-width: 320px){
  .page {
    max-width: 320px;
  }
}