.cover-background {
  background-image: url("../../vendor/images/__overlay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 3;
  width: 100%;
  height: 100%;
}

