.cover-background {
  background-image: url("./../../vendor/img/__background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}



