.places {
  padding-top: 92px;
  display: grid;
  row-gap: 81px;
  justify-items: center;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px){
  .places {
    max-width: 928px;
  }
}

@media (max-width: 768px){
  .places {
    max-width: 720px;
    row-gap: 65px;
  }
}

@media (max-width: 320px){
  .places {
    max-width: 320px;
    padding-top: 64px;
    row-gap: 62px;
    margin: 0 auto;
  }
}
