.place-website__link {
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: #FFF;
}

@media (max-width: 320px){
  .place-website__link {
    font-size: 18px;
    line-height: 22px;
  }
}