.cover-background__title {
  position: relative;
  z-index: 5;
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  color: #fff;
  margin: 0;
}

@media (max-width:1024px){
  .cover-background__title {
    padding-left: 6px;
    padding-top: 6px;
  }
}

@media (max-width:768px){
  .cover-background__title {
    padding-left: 0;
  }
}

@media (max-width:320px){
  .cover-background__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
