.photo-grid__item {
  width: 100%;  
  object-fit: cover; 
  object-position: center; 
}

@media (min-width: 1280px){
  .photo-grid__item {
    height: 213px;
  }
}

@media (min-width: 1024px){
  .photo-grid__item{
    height: 225px;
  }
}

@media (min-width: 768px){
  .photo-grid__item{
    height: 264px;
  }
}

@media (min-width: 320px){
  .photo-grid__item {
    height: 216px;
  }
}