.header {
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  max-width: 1184px;
  padding-top: 24px;
}

@media (max-width: 1280px){
  .header {
    max-width: 928px;
    padding-top: 24px;
  }
}

@media (max-width: 1023px){
  .header {
    max-width: 720px;
    padding-top: 16px;
  }
}

@media (max-width: 767px){
  .header {
    max-width: 720px;
    padding-top: 16px;
    max-width: 288px;
  }
}

