
@media (max-width: 1280px){
  .place__wrapper {
    max-width: 456px;
  }
}

@media (max-width: 1024px){
  .place__wrapper {
    max-width: 352px;
  }
}

@media (max-width: 767px){
  .place__wrapper {
    max-width: 288px;
    margin: 0 auto;
  }
}

