.footer-links__link {
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  padding-left: 3px;
}

@media (max-width: 767px){
  .footer-links__link {
    font-size: 24px;
    line-height: 24px;
  }
}