.cover-background__overlay {
  background-image: url("../../../vendor/img/__overlay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: background-color .5s linear;
}

.cover-background__overlay:hover {
  background-color:rgba(0,0,0,.3);
}
