.lead__title {
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-top: 56px;
}

@media (max-width: 320px){
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding-top: 48px;
  }
}

