.place__paragraph {
  margin: 0;
  padding-bottom: 24px;
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  overflow-wrap: break-word;
}

.place__paragraph:last-child {
  padding: 0;
}

@media (max-width: 1280px){
  .place__paragraph {
    max-width: 484px;
  }
}

@media (max-width: 1024px){
  .place__paragraph {
    min-width: 456px;
  }
}

@media (max-width: 768px){
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
    min-width: 200px; 
  }
}

@media (max-width: 320px){
  .place__paragraph {
    min-width: 260px;
  }
}