.footer__copyright {
  max-width: 186px;
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  padding-top: 4px;
}

@media (max-width: 767px){
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
    padding-left: 5px;
    margin: 0;
  }
}

@media (max-width: 320px){
  .footer__copyright {
    padding-top: 30px;
  }
}