.intro__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding-top: 4%;
}

@media (max-width: 320px){
  .intro__text {
    font-size: 16px;
    line-height: 163%;
    padding-top: 40px;
  }
}