
.intro {
  margin: 0 auto;
  max-width: 990px;
}

@media (max-width:1280px){
  .intro {
    max-width: 930px;;
  }
}

@media (max-width: 1023px){
  .intro {
    max-width: 720px;
  }
}

@media (max-width: 767px){
  .intro {
    width: 288px;
  }
}

