.cover {
  background-image: url("../../images/__background.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin-top: 92px;
  background-size: 100%;
}

@media (max-width: 1023px){
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 767px){
  .cover {
    margin-top: 66px;
  }
}

