.cover-background__subtitle {
  position: relative;
  z-index: 5;
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  max-width: 360px;
  margin: 0 auto;
  color: #fff;
  padding-top: 3.2%;
}

@media (min-width: 320px){
  .cover-background__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}