@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);  

/*микситы*/
@import url(../blocks/link-animation/link-animation.css); /*анимация ссылок*/

/*меню хедер*/
@import url(../blocks/header/header.css);
@import url(../blocks/header-logo/header-logo.css);
@import url(../blocks/header-links/header-links.css);
  @import url(../blocks/header-links/__item/header-links__item.css);
  @import url(../blocks/header-links/__link/header-links__link.css);
  @import url(../blocks/header-links/__link/_active/header-links__link_active.css);   /*активная ссылка*/
  
/*блок леад*/
@import url(../blocks/lead/lead.css);
  @import url(../blocks/lead/__title/lead__title.css);
  @import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead-image/lead-image.css);
  @import url(../blocks/lead-image/__image/lead-image__image.css);
  @import url(../blocks/lead-image/__caption/lead-image__caption.css);

/*блок интро*/
@import url(../blocks/intro/intro.css);
  @import url(../blocks/intro/__title/intro__title.css);
  @import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro-list/intro-list.css);
@import url(../blocks/intro-list/__item/intro-list__item.css);
@import url(../blocks/intro-list/__font-bold/intro-list__font-bold.css);

/*блок галерея*/
@import url(../blocks/photo-grid/photo-grid.css);
  @import url(../blocks/photo-grid/__item/photo-grid__item.css);

/*блок places*/
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
  @import url(../blocks/place/__title/place__title.css);
  @import url(../blocks/place/__image/place__image.css);
  @import url(../blocks/place/__wrapper/place__wrapper.css);
  @import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place-website/place-website.css);
  @import url(../blocks/place-website/__url-heading/place-website__url-heading.css);
  @import url(../blocks/place-website/__link/place-website__link.css);  

/*блок cover*/  
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover-background/cover-background.css);
  @import url(../blocks/cover-background/__overlay/cover-background__overlay.css);
  @import url(../blocks/cover-background/__subtitle/cover-background__subtitle.css);
  @import url(../blocks/cover-background/__title/cover-background__title.css);

/*блок footer*/
@import url(../blocks/footer/footer.css);
  @import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer-links/footer-links.css);
  @import url(../blocks/footer-links/__item/footer-links__item.css);
  @import url(../blocks/footer-links/__link/footer-links__link.css);