.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: minmax(min-content max-content) 1fr;
  row-gap: 47px;
  column-gap: 40px;
}

@media (max-width: 1280px){
  .place {
    grid-template-columns: 460px 484px;
  }
}

@media (max-width: 1024px){
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
    max-width: 928px;
    padding-left: 4px;
  }
}

@media (max-width: 768px){
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 30px;
    max-width: 720px;
    padding-left: 10px;
  }
}

@media (max-width: 320px){
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-left: 0;
    max-width: 320px;
  }
}


