.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
}

@media (max-width: 1280px){
  .footer {
    padding-top: 92px;
    max-width: 928px;
  }
}

@media (max-width: 1023px){
  .footer {
    padding-top: 88px;
    max-width: 720px;
  }
}

@media (max-width: 767px){
  .footer {
    padding-top: 64px;
    display: block;
  }
}

