.footer {
  padding-top: 7.8%;
  padding-bottom: 2.1%;
  display: flex;
  justify-content:space-between;
}

@media (max-width:  1024px){
  .footer {
    width: 928px;
    margin: 0 auto;
  }
}

@media (max-width:  768px){
  .footer {
    width: 710px;
    margin: 0 auto;
  }
}

@media (max-width: 320px){
  .footer {
    padding-top: 15px;
    display: block;
  }
}