.footer {
  padding-top: 78px;
  padding-bottom: 24px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  margin: 0 auto;
}

@media (max-width: 1280px){
  .footer {
    padding-top: 92px;
    max-width: 928px;
  }
}

@media (max-width: 1024px){
  .footer {
    padding-top: 79px;
    max-width: 925px;
  }
}

@media (max-width: 768px){
  .footer {
    padding-top: 73px;
    max-width: 707px;
  }
}

@media (max-width: 320px){
  .footer {
    padding-top: 40px;
    flex-direction:column;
  }
}


