.lead-image {
  margin: 0 auto;
  max-width: 984px;
  padding-top: 64px;
}

@media (max-width: 1280px){
  .lead-image {
    max-width: 928px;
    padding-top: 56px;
  }
}

@media (max-width: 1023px){
  .lead-image {
    max-width: 768px;
    padding-top: 56px;
  }
}

@media (max-width: 768px){
  .lead-image {
    padding-top: 40px;
  }
}


