.footer-links__item {
  padding-right: 4%;
}

@media (max-width: 767px){
  .footer-links__item {
    padding-top: 32px;
    padding-left: 16px;
  }

  .footer-links__item:first-child {
    padding-top: 0;
  }
}

@media (max-width: 320px){
  .footer-links__item {
    padding-left: 14px;
  }
}