.intro__title {
  font-family: 'Inter' , Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-top: 92px;
  margin: 0;
  max-width: 720px;
}

@media (max-width: 1023px){
  .intro__title {
    padding-top: 88px;
  }
}

@media (max-width: 767px){
  .intro__title {
    padding-top: 64px;
  }
}

@media (min-width: 320px){
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}